html, body {
  margin: 0px;
  font-family: "Nunito", sans-serif;
  font-size: 18px; }

p {
  margin: 8px 0px; }

.txt-center {
  text-align: center; }

.f-bold {
  font-weight: bold; }

.column-one {
  width: 328px;
  display: inline-block;
  background: #E85446;
  color: #FFF;
  font-size: 32px;
  padding: 0px 40px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-shadow: 0px 0px 4px #DD1212;
  -moz-text-shadow: 0px 0px 4px #DD1212;
  -o-text-shadow: 0px 0px 4px #DD1212;
  -ms-text-shadow: 0px 0px 4px #DD1212;
  text-shadow: 0px 0px 4px #DD1212; }
  .column-one h1 {
    font-family: Oswald;
    font-size: 40px;
    text-align: center;
    line-height: 56px; }
  .column-one .title {
    font-size: 32px;
    font-weight: 300; }
  .column-one .avatar {
    text-align: center; }
    .column-one .avatar img {
      width: 200px;
      height: 200px;
      margin: 0px 0px 16px 0px;
      -webkit-border-radius: 200px;
      -moz-border-radius: 200px;
      -o-border-radius: 200px;
      -ms-border-radius: 200px;
      border-radius: 200px; }
  .column-one .contact {
    font-size: 16px; }
    .column-one .contact > div {
      margin-top: 4px;
      margin-bottom: 4px; }
  .column-one .icon-wrapper {
    background: #FFF;
    width: 36px;
    height: 36px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #E74E49;
    margin: 0px 8px 0px 0px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    -o-border-radius: 36px;
    -ms-border-radius: 36px;
    border-radius: 36px; }
    .column-one .icon-wrapper img {
      max-height: 28px;
      max-width: 28px;
      margin: 4px 0px;
      vertical-align: middle; }

.column-two {
  width: 800px;
  display: inline-block;
  background: #FFF;
  vertical-align: top;
  padding: 0px 58px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  .column-two h2 {
    font-family: Oswald;
    font-weight: 400;
    font-size: 30px;
    color: #E85446; }
  .column-two .item-view {
    width: 100%; }
    .column-two .item-view h3 {
      margin-top: 1.25em;
      margin-bottom: 0.5em; }
    .column-two .item-view .time {
      display: inline-block;
      width: 22%;
      vertical-align: top; }
      .column-two .item-view .time img {
        margin: 24px 26px 0px 26px;
        max-width: 48px;
        max-height: 48px; }
    .column-two .item-view .content {
      display: inline-block;
      width: 78%;
      vertical-align: top; }
      .column-two .item-view .content span {
        width: 160px;
        display: inline-block; }
      .column-two .item-view .content img {
        width: 326px;
        border: 1px solid #eee; }
      .column-two .item-view .content .process {
        width: 300px;
        background: #EEE;
        height: 24px;
        display: inline-block;
        margin: 12px 0px;
        vertical-align: middle;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px; }
        .column-two .item-view .content .process .percentage {
          background: #E85446;
          height: 100%;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -o-border-radius: 4px;
          -ms-border-radius: 4px;
          border-radius: 4px; }
          .column-two .item-view .content .process .percentage span {
            font-size: 12px;
            color: white;
            margin: 0 12px;
            display: none; }
    .column-two .item-view a {
      color: #E85446; }

.fontsize-18px {
  font-size: 18px; }

.fontsize-15px {
  font-size: 15px; }

a {
  color: #FFF;
  text-decoration: none;
  -webkit-transition: 200ms all linear;
  -moz-transition: 200ms all linear;
  -o-transition: 200ms all linear;
  -ms-transition: 200ms all linear;
  transition: 200ms all linear; }
  a:hover {
    opacity: 0.5; }

.mg-top-18px {
  margin-top: 18px; }
